.header {
  &__toolbar {
    // stylelint-disable-next-line selector-class-pattern
    &.MuiToolbar-root {
      @include not-phone {
        display: grid;
        grid-template-areas:
          'logo language-select'
          'logo tabs';
        grid-auto-columns: min-content auto;
      }
      flex-wrap: wrap;
    }

    div &__mobile-lang-select {
      min-height: fit-content;
      padding: 0;
    }
  }

  &__logo button,
  &__tabs button,
  &__language-select button {
    @include header-text;
  }

  &__logo {
    @include not-phone {
      grid-area: logo;
    }
    margin-right: 5rem;
    padding: 2rem 0;
    @include phone {
      margin-right: 0;
    }

    & > a {
      text-decoration: none;
    }

    &__logo {
      height: 5.5rem;
      @include phone {
        height: 5rem;
      }
    }
  }

  &__tabs {
    @include not-phone {
      grid-area: tabs;
    }
    align-self: flex-end;
    justify-self: start;

    [role='tablist'] {
      gap: 3rem;
    }
  }

  &__language-select {
    @include not-phone {
      grid-area: language-select;
    }
    align-self: center;
    color: $color-secondary-dark;
    gap: 2rem;
    justify-self: end;

    @include phone {
      align-self: center;
    }

    & &__avatar {
      background-color: $color-secondary-dark;
      font-size: 1.1rem;
      height: 2rem;
      margin-right: 0.3rem;
      width: 2rem;
    }

    & > a {
      @include header-text;
    }
  }
}
