.session-header {
  background: #f0f3f7;
  justify-content: flex-end;
  padding: 2rem 6rem;

  @include phone {
    align-items: flex-end;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    padding: 1rem 2rem 1rem 1rem;
  }

  & &__user-icon {
    height: 2rem;
    width: 2rem;
  }

  & &__open-registrations {
    margin-right: auto;

    & a {
      color: $color-secondary-dark;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 1.9rem;
      margin: 0;
      text-decoration: underline;
      text-transform: initial;

      @include phone {
        font-size: 1.5rem;
      }
    }
  }
}
