@use '../../styles/abstracts/variables';

.skip-link {
  &#{&} {
    align-items: center;
    background-color: variables.$color-background-content;
    color: variables.$color-secondary-dark;
    display: inline-flex;
    left: 1.5rem;
    margin: 0;
    padding: 1rem;
    position: fixed;
    text-decoration: none;
    top: -8rem;
    transition: top 195ms cubic-bezier(0.4, 0, 1, 1) 0ms;
    z-index: 1501;
  }

  &:focus {
    top: 1.6rem;
    transition: top 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
}
