.accessibility-statement-page {
  flex: 1;

  & &__back-button {
    @include phone {
      margin-top: 2rem;
      padding: 2rem 2rem 0;
    }
  }

  & &__heading {
    @include phone {
      padding: 2rem 2rem 0;
    }
  }

  & &__content {
    padding: 4rem 3rem;

    @include phone {
      @include phone-divider-border-top;
      @include phone-divider-border-bottom;
      gap: 1.5rem;
      padding: 1rem 2rem;
    }
  }

  & &__item-bullet-list {
    margin-block-end: 0;
  }
}
