.public-homepage {
  flex: 1;

  @include phone {
    margin-bottom: 2rem;
  }

  & &__grid-container {
    display: block;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }

    div &__result-box {
      @include phone {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  & &__info-box {
    background-color: $color-blue-200;

    @include phone {
      padding: 2rem 1rem;
    }

    @include not-phone {
      padding: 3rem 1rem;
    }
  }
}
