.public-homepage {
  flex: 1;

  @include phone {
    margin-bottom: 2rem;
  }

  & &__grid-container {
    display: block;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }

    div &__result-box {
      @include phone {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  & &__info-box {
    background-color: $color-blue-200;
    border-radius: 4px;

    @include phone {
      padding: 2rem 1rem;
    }

    @include not-phone {
      padding: 3rem 2rem;
    }
  }

  & &__cards {
    @include not-phone {
      width: 90%;
    }
  }

  & &__level-description-card {
    @include phone {
      width: 100%;
    }
    @include not-phone {
      width: 48rem;
      height: 49rem;
    }

    .card-contents {
      padding: 2rem;
    }

    .card-image-wrapper {
      position: relative;
      // stylelint-disable-next-line selector-max-compound-selectors
      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        opacity: 0.5;
      }
      // stylelint-disable-next-line selector-max-compound-selectors
      img {
        aspect-ratio: 480/231;
        width: 100%;
      }
    }
  }
}
