<!DOCTYPE html>
<html lang="fi">
    <body>
        <p>
            Hei,
        </p>
        <p>
            [[${requesterName}]] (email: [[${requesterEmail}]], puh.: [[${requesterPhone}]]) lähetti yhteydenottopyynnön seuraaville kääntäjille, joiden sähköpostiosoite ei ollut tiedossa:
        </p>
        <ul th:each="translator : ${translators}">
            <li><a th:href="@{https://{akrHost}/akr/virkailija/kaantaja/{id}(akrHost=${akrHost},id=${translator.id})}">[[${translator.name}]]</a></li>
        </ul>
        <p>
            Huomaa, että kääntäjien tietojen tarkastelu vaatii ensin Opintopolkuun kirjautumisen.
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p>
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>
    </body>
</html>
