<!DOCTYPE html>
<html lang="fi">
    <body>
        <p>
            Hei,
        </p>
        <p>
            Olet ottanut yhteyttä seuraaviin auktorisoituihin kääntäjiin kieliparin [[${langPairFI}]] käännöstoimeksiantoa varten:
        </p>
        <ul>
            <li th:each="name : ${translators}">[[${name}]]</li>
        </ul>
        <br/>

        <p>Tässä jättämäsi viesti sekä yhteystietosi:</p>

        <p>
            <span th:each="line : ${messageLines}">[[${line}]]<br/></span>
        </p>

        <p>
            <strong>Yhteystietosi</strong><br/>
            <span th:text="${requesterName}"></span><br/>
            <span th:text="${requesterEmail}"></span><br/>
            <span th:unless="${requesterPhone.isEmpty()}">[[${requesterPhone}]]<br/></span>
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>

        <p>
            Hej,
        </p>
        <p>
            Du har kontaktat följande auktoriserade translatorer gällande ett översättningsuppdrag i språkparet [[${langPairSV}]]:
        </p>
        <ul>
            <li th:each="name : ${translators}">[[${name}]]</li>
        </ul>
        <br/>

        <p>Här ditt meddelande och dina kontaktuppgifter:</p>

        <p>
            <span th:each="line : ${messageLines}">[[${line}]]<br/></span>
        </p>

        <p>
            <strong>Dina kontaktuppgifter</strong><br/>
            <span th:text="${requesterName}"></span><br/>
            <span th:text="${requesterEmail}"></span><br/>
            <span th:unless="${requesterPhone.isEmpty()}">[[${requesterPhone}]]<br/></span>
        </p>
        <br/>

        <p>
            Svara inte till detta meddelande, det har skickats automatiskt.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Med vänlig hälsning<br/>
            Utbildningsstyrelsen
        </p>

        <p>
            Hello,
        </p>
        <p>
            You have contacted following authorised translators for language pair [[${langPairEN}]] translation assignment:
        </p>
        <ul>
            <li th:each="name : ${translators}">[[${name}]]</li>
        </ul>
        <br/>

        <p>Here is your message and contacts:</p>

        <p>
            <span th:each="line : ${messageLines}">[[${line}]]<br/></span>
        </p>

        <p>
            <strong>Your contacts</strong><br/>
            <span th:text="${requesterName}"></span><br/>
            <span th:text="${requesterEmail}"></span><br/>
            <span th:unless="${requesterPhone.isEmpty()}">[[${requesterPhone}]]<br/></span>
        </p>
        <br/>

        <p>
            Please, don't reply this message - it is generated automatically.
        </p>
        <p>
            Kind regards<br/>
            Finnish National Agency for Education
        </p>
    </body>
</html>
