/* FLEX */
.rows {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.columns {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.align-self-start {
  align-self: flex-start;
}

/* GRID */
.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, auto));

  @include phone {
    grid-template-columns: auto;
  }
}

.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, calc(50% - 1rem)));

  @include phone {
    grid-template-columns: auto;
  }
}

/* TABLE */
.table-layout-auto {
  &#{&} {
    table-layout: auto;
  }
}
