/* Widths */
.full-max-width {
  &#{&} {
    max-width: 100%;
  }
}

.half-max-width {
  max-width: 50%;
}

.fit-content-max-width {
  max-width: fit-content;
}

/* Heights */
.full-height {
  &#{&} {
    height: 100vh;
  }
}

.half-height {
  &#{&} {
    height: 50vh;
  }
}

/* Margins */
.margin-top-sm {
  &#{&} {
    margin-top: map-get($spacing, 'sm');
  }
}

.margin-top-lg {
  &#{&} {
    margin-top: map-get($spacing, 'lg');
  }
}

.margin-top-xxl {
  &#{&} {
    margin-top: map-get($spacing, 'xxl');
  }
}

.margin-right-xs {
  &#{&} {
    margin-right: map-get($spacing, 'xs');
  }
}

.margin-left-sm {
  &#{&} {
    margin-left: map-get($spacing, 'sm');
  }
}

.margin-left-lg {
  &#{&} {
    margin-left: map-get($spacing, 'lg');
  }
}

/* Gaps */
.gapped {
  gap: map-get($spacing, 'lg');
}

.gapped-xl {
  gap: map-get($spacing, 'xl');
}

.gapped-xxl {
  gap: map-get($spacing, 'xxl');
}

.gapped-sm {
  gap: map-get($spacing, 'sm');
}

.gapped-xs {
  gap: map-get($spacing, 'xs');
}

.gapped-xxs {
  gap: map-get($spacing, 'xxs');
}

/* Padding */
.padding-unset {
  &#{&} {
    padding: unset;
  }
}
