/* Positioning */
.centered {
  &#{&} {
    text-align: center;
  }
}

.inline-text {
  display: inline-block;
}

.inline-text-box {
  &#{&} {
    & > * {
      display: inline;
      vertical-align: unset;
    }

    & > *:not(:first-child) {
      padding-left: map-get($spacing, 'xxs');
    }
  }
}

/* Font Weight */
.bold {
  &#{&} {
    font-weight: bold !important;
  }
}

/* Text transform */
.lowercase {
  &#{&} {
    text-transform: lowercase;
  }
}

.capitalize {
  &#{&} {
    text-transform: capitalize;
  }
}

.text-transform-none {
  &#{&} {
    text-transform: none;
  }
}

/* Colors */
.color-grey-600 {
  &#{&} {
    color: $color-grey-600;
  }
}

.color-red-500 {
  &#{&} {
    color: $color-red-500;
  }
}

.color-secondary-dark {
  &#{&} {
    color: $color-secondary-dark;
  }
}

.color-disabled {
  &#{&} {
    color: rgba(0, 0, 0, 0.38);
  }
}

/* Spacing */
.white-space-no-wrap {
  &#{&} {
    white-space: nowrap;
  }
}
