.clerk-free-registration-details-page {
  flex: 1;
  background-color: #f6f4f0; // oph-bg-color

  & &__grid-container {
    margin-top: 2rem;
    display: grid;

    &__results {
      padding: 2rem;
    }
  }
}
