.public-reassessment-page {
  flex: 1;

  & &__grid-container {
    display: block;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }

    div &__item-info {
      @include phone {
        padding-top: 1rem;
      }
    }

    div &__result-box {
      @include not-phone {
        padding: 3rem;
      }

      @include phone {
        padding: 2rem;
      }
    }
  }

  & &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;

    @include phone {
      @include phone-divider-border-top;
      @include phone-divider-border-bottom;
      gap: 1.5rem;
      padding: 1rem 2rem;
    }

    &__section {
      &__heading-title {
        margin-bottom: 1rem;
      }
    }
  }
}
