.transfer-registration-page {
  flex: 1;

  & &__grid-container {
    display: block;

    &__item-header {
      margin-top: 2rem;

      @include phone {
        padding: 2rem 2rem 0;
      }
    }
  }

  & &__current-registration-details {
    padding: 2rem;

    @include not-phone {
      width: 60%;
    }
  }

  & &__info-box {
    background-color: $color-blue-200;
    border-radius: 4px;
    padding: 2rem;

    @include not-phone {
      margin: 0;
    }
  }
}
