.transfer-enrollment-page {
  flex: 1;

  & &__grid-container {
    display: block;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }
  }

  & &__info-box {
    background-color: $color-blue-200;
    border-radius: 4px;
    padding: 2rem;
  }
}
