@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/mixins';

.table {
  table-layout: fixed;

  &__head-box {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include mixins.phone {
      @include mixins.phone-divider-border-bottom;
      display: grid;
      justify-content: start;
      padding: 0;
    }

    &__pagination {
      margin-left: auto;

      @include mixins.phone {
        margin: 0;
        padding: 0;
      }

      & > div {
        @include mixins.phone {
          padding: 0;
        }
      }
    }

    & &__chip {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  & > tbody {
    tr:nth-child(even) {
      background: colors.$color-grey-200;
    }

    tr:hover {
      box-shadow: inset 1px 0 0 colors.$color-divider,
        inset -1px 0 0 colors.$color-divider, 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
      position: relative;
      z-index: 2;
    }

    & tr[class*='selected'],
    & tr[class*='selected']:hover {
      background: colors.$color-blue-200;
    }
  }
}
