.clerk-interpreter-listing {
  &__ineffective {
    &#{&} {
      color: $color-grey-600;
    }
  }

  &__row {
    td:first-child {
      position: relative;
    }

    &__link {
      text-decoration: none;
    }

    &__link::before {
      bottom: 0;
      content: '';
      cursor: pointer;
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 659%;
    }
  }
}
