@use 'sass:color';

.public-enrollment {
  & &__grid {
    &__form-container {
      padding: 3rem;

      @include phone {
        margin-bottom: 22rem;
        padding: 2rem;
      }

      &__auth-button {
        width: 18rem;
      }
    }

    &__stepper {
      margin-left: 13rem;
      margin-right: 13rem;

      &__step-disabled {
        span,
        svg {
          color: $color-grey-700;
        }
      }
    }

    &__contact-details {
      width: calc(80% - 1rem);

      @include phone {
        width: 100%;
      }
    }

    &__education-details {
      border: 0;
    }

    &__previous-enrollment {
      width: calc(50% - 1rem);

      @include phone {
        width: 100%;
      }

      &__textField {
        margin-bottom: 2rem;
      }
    }

    &__partial-exam-selection {
      float: left;
      margin-left: 3rem;
      width: 40%;

      @include phone {
        float: none;
        width: 90%;
      }
    }

    &__certificate-shipping {
      &__consent {
        padding-left: 1rem;
      }
    }

    &__preview {
      &__bullet-list {
        margin-block-start: 0;
        padding-inline-start: 2rem;
      }

      &__privacy-statement-checkbox-label {
        margin-right: 0;
        padding-left: 1rem;

        & span:last-child {
          margin-bottom: -0.5rem;
        }
      }
    }

    &__timer-progressbar {
      background-color: color.adjust($color-secondary, $alpha: -0.7);

      & span {
        background-color: $color-secondary;
      }
    }

    &__progress-container {
      float: right;
      margin: 4rem 0 0;
      max-width: 38rem;

      @include phone {
        margin: 0;
      }
    }

    &__progress-text {
      font-size: 1.8em;
      margin: 0 0 0.5em;
    }

    .phone-number {
      max-width: calc(50% - 1rem);

      @include phone {
        max-width: 100%;
      }
    }
  }

  &__renew-reservation-modal {
    .custom-modal {
      padding: 4rem;
    }

    h2 {
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }

    p {
      font-size: 1.6rem;
      margin: 0 0 2rem;
    }
  }
}
