.public-enrollment {
  & &__grid {
    &__form-container {
      padding: 3rem;
    }

    &__stepper {
      margin-left: 13rem;
      margin-right: 13rem;

      &__step-disabled {
        span,
        svg {
          color: $color-grey-700;
        }
      }
    }

    &__previous-enrollment {
      width: calc(50% - 1rem);
    }

    &__partial-exam-selection {
      padding-left: 1rem;
    }

    &__certificate-shipping {
      &__consent {
        padding-left: 1rem;
      }
    }

    &__preview {
      &__privacy-statement-checkbox-label {
        margin-right: 0;
        padding-left: 1rem;

        &__link {
          font-size: 1.6rem;
          padding: 0 3px 0 0;
          text-transform: lowercase;

          & span {
            margin-left: 2px;
          }
        }
      }
    }

    &__timer-progressbar {
      background-color: #b7c5f1;

      & span {
        background-color: $color-secondary;
      }
    }

    &__progress-container {
      float: right;
      margin: 4rem 0 0;
      width: 38rem;
    }

    &__progress-text {
      font-size: 1.8em;
      margin: 0 0 0.5em;
    }

    .phone-number {
      max-width: calc(50% - 1rem);

      @include phone {
        max-width: 100%;
      }
    }
  }
}
