@use '../../styles/abstracts/variables';

.circular-stepper {
  display: inline-flex;
  position: relative;

  &__heading {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  svg {
    background: radial-gradient(
      ellipse at center,
      variables.$color-primary 0%,
      variables.$color-primary 56%,
      variables.$color-primary-dark 59%,
      variables.$color-primary-dark 100%
    );
    border-radius: 50%;
  }
}
