.header {
  border-bottom: 1px solid $color-grey-200;

  @include phone {
    &__toolbar__mobile-lang-select {
      order: 3;
    }

    &__toolbar__logo-and-lang {
      order: 1;
    }

    .session-header {
      order: 2;
    }

    &__nav {
      order: 4;
    }
  }

  &__toolbar {
    // stylelint-disable-next-line selector-class-pattern
    &.MuiToolbar-root {
      flex-wrap: wrap;

      @include desktop-xs-and-up {
        display: grid;
        grid-template-areas: 'logo language-select';
        grid-auto-columns: min-content auto;
      }
    }

    div &__mobile-lang-select {
      min-height: fit-content;
      padding: 0;
    }

    div &__logo-and-lang {
      flex-direction: column;
      align-items: flex-start;

      @include mobile {
        padding-bottom: 1rem;
      }
    }
  }

  &__logo button,
  &__tabs button,
  &__language-select button {
    @include header-text;
    color: $color-primary;
  }

  &__logo {
    margin-right: 0;

    @include desktop-xs-and-up {
      grid-area: logo;
      margin-left: 8rem;
    }
    padding: 2rem 0;

    & > a {
      text-decoration: none;
    }

    &__logo {
      height: 26px;
      width: auto;
    }
  }

  &__nav {
    background-color: $color-primary;
    padding-top: 1.5rem;

    .navigation-links {
      p {
        color: $color-text-primary;
      }

      ul {
        padding-inline-start: 0;
      }
    }

    @include desktop-xs-and-up {
      padding-inline-start: calc(24px + 8rem);
    }
  }

  &__language-select {
    @include desktop-xs-and-up {
      grid-area: language-select;
    }
    align-self: center;
    color: $color-primary;
    gap: 2rem;
    justify-self: end;

    @include phone {
      align-self: center;
    }

    & &__avatar {
      background-color: $color-secondary;
      font-size: 1.1rem;
      height: 2rem;
      margin-right: 0.3rem;
      width: 2rem;
    }

    & > a {
      @include header-text;
      color: $color-primary;
    }
  }
}
