.table {
  table-layout: fixed;

  &__head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.3rem;

    &__pagination {
      margin-left: auto;
    }

    & &__chip {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  & > tbody {
    tr:nth-child(even) {
      background: $color-primary-light;
    }

    tr:hover {
      background: $color-blue-200;
    }

    & tr[class*='selected'],
    & tr[class*='selected']:hover {
      background: $color-blue-200;
    }
  }
}
