postgresql.url={{host_postgresql_akt}}
postgresql.username={{postgres_app_user}}
postgresql.password={{host_postgresql_akt_app_password}}

url-alb={{host_alb}}
email.sending-enabled=true
ryhmasahkoposti-service-url=${url-alb}/ryhmasahkoposti-service/email/firewall
