.privacy-policy-page {
  flex: 1;

  & &__heading {
    @include phone {
      margin-top: 2rem;
      padding: 2rem 2rem 0;
    }
  }

  & &__content {
    padding: 4rem 3rem;

    @include phone {
      @include phone-divider-border-top;
      @include phone-divider-border-bottom;
      gap: 1.5rem;
      padding: 1rem 2rem;
    }

    &__link {
      align-self: flex-start;
      font-size: 1.6rem;
      margin: 0;
      padding: 0;
      text-transform: none;
    }
  }
}
