@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/mixins';

.navigation-links {
  ul {
    @include mixins.phone {
      flex-direction: column;
      padding: 0;
    }

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    column-gap: 3rem;
    row-gap: 1rem;

    @include mixins.phone {
      gap: 2rem;
    }

    @include mixins.desktop-xs-and-up {
      column-gap: 6rem;
      row-gap: 1rem;
    }
  }

  li {
    padding-bottom: 2rem;

    @include mixins.phone {
      padding-bottom: 0;
      padding-left: 1rem;
    }

    > a {
      text-decoration: none;
    }
  }

  li.active {
    p {
      color: colors.$color-secondary;
      font-weight: 700;
    }
    @include mixins.not-phone {
      border-bottom: 2px solid colors.$color-secondary;
    }

    @include mixins.phone {
      border-left: 3px solid colors.$color-secondary;
    }
  }
}
