@use 'sass:map';
@use '../../styles/abstracts/maps';
@use '../../styles/abstracts/mixins';

.cookie-banner {
  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: map.get(maps.$breakpoints, 'desktop-md');
    padding: 0 map.get(maps.$spacing, 'lg');
    width: calc(100% - 2 * map.get(maps.$spacing, 'lg'));

    & &__accept-button {
      min-width: 96px;
    }

    & &__dialog-container {
      padding: 20px 24px;
      padding-top: 0;
    }

    & &__dialog-content {
      height: calc(100% - map.get(maps.$spacing, 'lg'));
      padding-bottom: map.get(maps.$spacing, 'lg');

      @include mixins.desktop-and-up {
        padding-bottom: 0;
      }
    }

    h2 {
      margin: 0;
      font-weight: 500;
      font-size: 2rem;
      line-height: 1.6;
      letter-spacing: 0.0075em;
      padding: 16px 24px;
    }
  }
}
