<!DOCTYPE html>
<html lang="fi">
    <body>
        <p>
            Hei,
        </p>
        <div th:unless="${contactedTranslators.isEmpty()}">
            <p>
                Olet ottanut yhteyttä seuraaviin kääntäjiin auktorisoitua käännöstyötä varten:
            </p>
            <ul>
                <li th:each="name : ${contactedTranslators}">[[${name}]]</li>
            </ul>
            <br/>
        </div>

        <div th:unless="${otherTranslators.isEmpty()}">
            <p>
                Seuraaviin kääntäjiin ei voitu ottaa yhteyttä, sillä heidän sähköpostiosoitteensa eivät ole Opetushallituksen tiedossa:
            </p>
            <ul>
                <li th:each="name : ${otherTranslators}">[[${name}]]</li>
            </ul>
            <p>Opetushallituksen virkailija pyrkii selvittämään yo. kääntäjien yhteystiedot ja ottaa teihin asian tiimoilta myöhemmin yhteyttä.</p>
            <br/>
        </div>

        <p>Ohessa jättämäsi viesti sekä yhteystietosi:</p>

        <p>
            <span th:each="line : ${messageLines}">[[${line}]]<br/></span>
        </p>

        <p>
            <strong>Lähettäjän tiedot</strong><br/>
            <span th:text="${requesterName}"></span><br/>
            <span th:text="${requesterEmail}"></span><br/>
            <span th:unless="${requesterPhone.isEmpty()}">[[${requesterPhone}]]<br/></span>
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p>
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>
    </body>
</html>
