<!DOCTYPE html>
<html lang="fi">
    <body>
        <p>
            Hei,
        </p>
        <p>
            Sinuun on otettu yhteyttä auktorisoitua käännöstyötä varten. Ohessa sinulle jätetty viesti sekä tiedot sen lähettäjästä.
        </p>
        <br/>

        <p>
            <span th:each="line : ${messageLines}">[[${line}]]<br/></span>
        </p>

        <p>
            <strong>Lähettäjän tiedot</strong><br/>
            <span th:text="${requesterName}"></span><br/>
            <span th:text="${requesterEmail}"></span><br/>
            <span th:unless="${requesterPhone.isEmpty()}">[[${requesterPhone}]]<br/></span>
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p>
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>
    </body>
</html>
