.public-interpreter-listing {
  // Unset defaults
  tbody {
    tr:hover {
      background-color: unset;
      box-shadow: unset;
      cursor: pointer;
    }

    tr:nth-child(even) {
      background-color: unset;
    }

    tr:nth-child(4n + 3),
    tr:nth-child(4n + 4) {
      background-color: $color-primary-light;
    }
  }

  & &__name-header {
    margin-left: 5.5rem;
  }

  &-row {
    & > td {
      border-bottom: unset;
    }

    &--collapsible {
      td {
        padding-bottom: 0;
        padding-left: 7rem;
        padding-top: 0;

        @include phone {
          padding-left: 1.2rem;
        }

        &__fields {
          margin-left: 3rem;
        }
      }
    }

    &__additional-contact-details {
      padding: map-get($spacing, 'lg') 0;

      @include phone {
        gap: 1rem;
      }

      & &__text {
        @include phone {
          padding-left: 0.5rem;
        }
      }

      &__box {
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

        @include phone {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
