.public-interpreter-listing {
  // Unset defaults
  tbody {
    tr:nth-child(even) {
      background: unset;
    }

    tr:nth-child(4n + 3),
    tr:nth-child(4n + 4) {
      background: $color-primary-light;
    }

    tr:hover {
      cursor: pointer;
    }

    // FIXME
    // tr:hover {
    //   background: $color-blue-200;
    // }
    // &:hover ~ .public-interpreter-listing-row {
    //   background: $color-blue-200;
    // }

    // {
    //   &:hover &:hover ~ .public-interpreter-listing-row {
    //     background: $color-blue-200;
    //   }

    //   &:hover ~ .public-interpreter-listing-row--collapsible {
    //     background: $color-blue-200;
    //   }
    // }
  }

  & &__name-header {
    margin-left: 5.5rem;
  }

  &-row {
    // FIXME
    // &:hover + .public-interpreter-listing-row--collapsible {
    //   background: $color-blue-200;
    // }

    & > td {
      border-bottom: unset;
    }

    &--collapsible {
      td {
        padding-bottom: 0;
        padding-left: 7rem;
        padding-top: 0;

        @include phone {
          padding-left: 1.2rem;
        }

        &__fields {
          margin-left: 3rem;
        }
      }
    }

    &__extra-details {
      padding: map-get($spacing, 'lg') 0;

      &__box {
        display: inline-grid;
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
      }
    }
  }
}
