<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
    <body>
        <p>
            Hei,
        </p>
        <br/>
        <p>Olet ilmoittautunut Valtionhallinnon kielitutkintoon. Ohessa tiedot ilmoittautumisestasi. Liitteenä myös maksukuitti suomeksi ja ruotsiksi.</p>

        <p>
            <b>Ilmoittautumisen tiedot:</b><br/>
            Tutkinnon kieli: <span th:text="${examLanguageFI}"></span><br/>
            Tutkinnon taso: <span th:text="${examLevelFI}"></span><br/>
            Tutkintopäivä: <span th:text="${examDate}"></span>
            <th:block th:if="${!#strings.isEmpty(examTime)}">
                Tutkinnon alkamisaika: <span th:text="${examTime}"></span><br/>
            </th:block>
            <th:block th:if="${!#strings.isEmpty(examLocation)}">
                Tutkintopaikka: <span th:text="${examLocation}"></span><br/>
            </th:block>
        </p>
        <p>
            Valitsemasi taidot: <span th:text="${skillsFI}"></span><br/>
            Valitsemasi osakokeet: <span th:text="${partialExamsFI}"></span>
        </p>

        <th:block th:if="${!#strings.isEmpty(otherInformation)}">
            <p>
                Tutkintosuorituksen vastaanottajan antamat tarkemmat saapumisohjeet: <span th:text="${otherInformation}"></span>
            </p>
        </th:block>
        <br/>

        Ota tutkintoon mukaan virallinen voimassa oleva henkilöllisyystodistus.
        <br />
        Huomaa, että esimerkiksi ajokortti tai oleskelulupakortti eivät ole virallisia henkilöllisyystodistuksia.
        <br />
        Hyväksyttäviä henkilöllisyystodistuksia ovat:
        <br />
        <ul>
            <li>passi</li>
            <li>henkilökortti</li>
            <li>muukalaispassi</li>
            <li>pakolaisen matkustusasiakirja</li>
            <li>Puolustusvoimien kuvallinen henkilökortti.</li>
        </ul>
        <br />
        <p>
            Jos et pääse osallistumaan tutkintoon, johon olet ilmoittautunut, ilmoita asiasta mahdollisimman pian tutkintosuorituksen vastaanottajalle.
        </p>
        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>
    </body>
</html>
