<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
    <body>
        <p>
            Hei,
        </p>
        <th:block th:if="${!isFree and type == 'enrollment'}">
            <p>Olet ilmoittautunut Valtionhallinnon kielitutkintoon. Ohessa tiedot ilmoittautumisestasi. Liitteenä myös maksukuitti suomeksi ja ruotsiksi.</p>
        </th:block>
        <th:block th:if="${!isFree and type == 'queue'}">
            <p>Olet ilmoittautunut jonotuspaikalle Valtionhallinnon kielitutkintoon. Olemme sinuun yhteydessä, mikäli tutkintotilaisuuteen vapautuu paikkoja. Ohessa tiedot ilmoittautumisestasi.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'KOSKI' and type == 'enrollment'}">
            <p>Olet ilmoittautunut Valtionhallinnon kielitutkintoon. Tietojemme mukaan olet oikeutettu maksuttomaan tutkintoon. Ohessa tiedot ilmoittautumisestasi.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'USER' and type == 'enrollment'}">
            <p>Olet ilmoittautunut Valtionhallinnon kielitutkintoon. Olet ilmoittanut ilmoittautumislomakkeella, että olet oikeutettu maksuttomaan tutkintoon ja lisännyt todistusasiakirjoja.</p>
            <p>Virkailija tarkastaa, täyttävätkö asiakirjat maksuttomuuden ehdot. Asiakirjat tarkastetaan mahdollisimman pian.</p>
            <p>Jos ehdot täyttyvät, tutkinto on maksuton ja saat sähköpostilla vahvistuksen ilmoittautumisesta.</p>
            <p>Jos ehdot eivät täyty, tutkinto on maksullinen ja saat sähköpostilla maksulinkin tutkintomaksun maksamista varten.</p>
            <p>Ohessa tiedot ilmoittautumisestasi.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'KOSKI' and type == 'queue'}">
            <p>Olet ilmoittautunut jonotuspaikalle Valtionhallinnon kielitutkintoon. Olemme sinuun yhteydessä, mikäli tutkintotilaisuuteen vapautuu paikkoja.</p>
            <p>Tietojemme mukaan olet oikeutettu maksuttomaan tutkintoon. Jos saat paikan tutkintoon, sinun ei tarvitse maksaa tutkintomaksua. Ohessa tiedot ilmoittautumisestasi.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'USER' and type == 'queue'}">
            <p>Olet ilmoittautunut jonotuspaikalle Valtionhallinnon kielitutkintoon. Olemme sinuun yhteydessä, mikäli tutkintotilaisuuteen vapautuu paikkoja.</p>
            <p>Olet ilmoittanut ilmoittautumislomakkeella, että olet oikeutettu maksuttomaan tutkintoon ja lisännyt todistusasiakirjoja. Jos saat paikan tutkintoon, virkailija tarkastaa, täyttävätkö asiakirjat maksuttomuuden ehdot.</p>
            <p>Jos ehdot täyttyvät, tutkinto on maksuton ja saat sähköpostilla vahvistuksen ilmoittautumisesta.</p>
            <p>Jos ehdot eivät täyty, tutkinto on maksullinen ja saat sähköpostilla maksulinkin tutkintomaksun maksamista varten.</p>
            <p>Ohessa tiedot ilmoittautumisestasi.</p>
        </th:block>
        <br/>

        <p>
            <b>Tutkinnon kieli:</b> <span th:text="${examLanguageFI}"></span><br/>
            <b>Tutkinnon taso:</b> <span th:text="${examLevelFI}"></span><br/>
            <b>Tutkintopäivä:</b> <span th:text="${examDate}"></span><br/>
            <b>Oikeutettu maksuttomaan tutkintoon:</b> <span th:text="${isFree}? 'Kyllä' : 'Ei'">Ei</span><br/>
            <b>Valitsemasi taidot:</b> <span th:text="${skillsFI}"></span><br/>
            <b>Valitsemasi osakokeet:</b> <span th:text="${partialExamsFI}"></span><br/>
            <th:block th:if="${!#strings.isEmpty(freeExamsLeftFI)}"><b>Maksuttomia tutkintokertoja jäljellä:</b> <span th:text="${freeExamsLeftFI}"></span><br/></th:block>
        </p>
        <br/>

        <p><b>Tietoa tutkintotilaisuudesta</b></p>

        <p>Tutkintotilaisuus järjestetään Opetushallituksen tiloissa osoitteessa Hakaniemenranta 6, 00530 Helsinki.</p>
        <p>Tutkinnon suorittamiseen kannattaa varata koko päivä. Tutkintotilaisuus alkaa klo 9.00 kirjallisen taidon tutkinnolla ja jatkuu iltapäivällä suullisen taidon tutkinnolla. Tutkinnon päättymisaika riippuu tutkintoon osallistuvien määrästä. Saat tarkemmat ohjeet tutkintopäivän kulusta viikkoa ennen tutkintopäivää.</p>
        <p>Jos sinulla on kysyttävää tutkinnosta, voit lähettää meille sähköpostia osoitteeseen <a href="mailto:kielitutkinnot@oph.fi">kielitutkinnot@oph.fi</a>. Ilmoitathan viipymättä, jos et pysty osallistumaan tutkintoon.</p>
        <p>
            Lisätietoa tutkinnosta löydät Opetushallituksen verkkopalvelusta:<br/>
            <a href="https://www.oph.fi/fi/koulutus-ja-tutkinnot/erinomaisen-taidon-tutkinnot" target="_blank">Valtionhallinnon kielitutkinnot (VKT)</a>
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>

        <p>
            Hej,
        </p>
        <th:block th:if="${!isFree and type == 'enrollment'}">
            <p>Du har anmält dig till Språkexamen för statsförvaltningen (VKT). Uppgifter om din anmälan hittar du nedan. Bifogat finns även kvittot för din examensavgift på finska och på svenska.</p>
        </th:block>
        <th:block th:if="${!isFree and type == 'queue'}">
            <p>Du har en plats i kön för Språkexamen för statsförvaltningen (VKT). Vi kommer att kontakta dig om platser blir lediga. Uppgifter om din anmälan hittar du nedan.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'KOSKI' and type == 'enrollment'}">
            <p>Du har anmält dig till Språkexamen för statsförvaltningen (VKT). Enligt våra uppgifter har du rätt till avgiftsfri examen. Uppgifter om din anmälan hittar du nedan.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'USER' and type == 'enrollment'}">
            <p>Du har anmält dig till Språkexamen för statsförvaltningen (VKT).</p>
            <p>Du har uppgett på anmälningsblanketten att du har rätt till avgiftsfri examen och bifogat intyg. Dina intyg granskas vid Utbildningsstyrelsen så fort som möjligt.</p>
            <p>Om du har rätt till avgiftsfri examen får du en bekräftelse på din anmälan per e-post.</p>
            <p>Om du inte har rätt till avgiftsfri examen, får du en länk för att betala examensavgiften.</p>
            <p>Uppgifter om din anmälan hittar du nedan.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'KOSKI' and type == 'queue'}">
            <p>Du har en plats i kön för Språkexamen för statsförvaltningen (VKT). Vi kommer att kontakta dig om platser blir lediga.</p>
            <p>Enligt våra uppgifter har du rätt till avgiftsfri examen. Ifall du får plats vid examenstillfället behöver du inte betala examensavgift. Uppgifter om din anmälan hittar du nedan.</p>
        </th:block>
        <th:block th:if="${isFree and source == 'USER' and type == 'queue'}">
            <p>Du har en plats i kön för Språkexamen för statsförvaltningen (VKT). Vi kontaktar dig om platser blir lediga.</p>
            <p>Du har uppgett på anmälningsblanketten att du har rätt till avgiftsfri examen och bifogat intyg. Om du får en plats vid examenstillfället granskas dina intyg vid Utbildningsstyrelsen.</p>
            <p>Ifall du har rätt till avgiftsfri examen får du en bekräftelse på din anmälan per e-post.</p>
            <p>Om du inte har rätt till avgiftsfri examen, får du en länk för att betala examensavgiften.</p>
            <p>Uppgifter om din anmälan hittar du nedan.</p>
        </th:block>
        <br/>

        <p>
            <b>Examensspråk:</b> <span th:text="${examLanguageSV}"></span><br/>
            <b>Examensnivå:</b> <span th:text="${examLevelSV}"></span><br/>
            <b>Examensdatum:</b> <span th:text="${examDate}"></span><br/>
            <b>Rätt till avgiftsfri examen:</b> <span th:text="${isFree} ? 'Ja' : 'Nej'">Nej</span><br/>
            <b>Förmågor som du har valt:</b> <span th:text="${skillsSV}"></span><br/>
            <b>Delprov som du har valt:</b> <span th:text="${partialExamsSV}"></span><br/>
            <th:block th:if="${!#strings.isEmpty(freeExamsLeftSV)}"><b>Antal avgiftsfria examina kvar:</b> <span th:text="${freeExamsLeftSV}"></span><br/></th:block>
        </p>
        <br/>
        <p><b>Information om examenstillfället</b></p>

        <p>Examenstillfället ordnas vid Utbildningsstyrelsen på adressen Hagnäskajen 6, 00530 Helsingfors.</p>
        <p>Du bör reservera hela dagen för examen. Examenstillfället börjar klockan 9.00 med delprovet i skriftlig färdighet och fortsätter på eftermiddagen med delprovet i muntlig färdighet. Deltagarantalet avgör när examenstillfället slutar. Du får närmare anvisningar om examensdagens program en vecka före examensdagen.</p>
        <p>Om du har frågor om examen, kan du kontakta oss per e-post på adressen <a href="mailto:kielitutkinnot@oph.fi">kielitutkinnot@oph.fi</a>. Vänligen meddela omedelbart om du inte kan delta i examen.</p>
        <p>
            Närmare information om examen finns på Utbildningsstyrelsens webbplats:<br/>
            <a href="https://www.oph.fi/sv/utbildning-och-examina/examina-som-galler-utmarkta-sprakkunskaper" target="_blank">Språkexamina för statsförvaltningen (VKT)</a>
        </p>
        <br/>

        <p>
            Svara inte på detta meddelande, det har skickats automatiskt.
        </p>
        <p>
            Med vänlig hälsning<br/>
            Utbildningsstyrelsen
        </p>
    </body>
</html>
