<!DOCTYPE html>
<html lang="fi">
    <body>
        <p>
            Hei,
        </p>
        <p>
            Olet ilmoittautunut jonotuspaikalle valtionhallinnon kielitutkintoon. Sinuun ollaan yhteydessä mikäli tutkintotilaisuuteen vapautuu peruutuspaikkoja. Ohessa tiedot ilmoittautumisestasi.
        </p>
        <br/>

        <p>
            Tutkinnon kieli: <span th:text="${examLanguageFI}"></span><br/>
            Tutkinnon taso: <span th:text="${examLevelFI}"></span><br/>
            Tutkintopäivä: <span th:text="${examDate}"></span><br/>
            Valitsemasi taidot: <span th:text="${skillsFI}"></span><br/>
            Valitsemasi osakokeet: <span th:text="${partialExamsFI}"></span><br/>
        </p>
        <br/>

        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>

        <p>
            Hei,
        </p>
        <p>
            Olet ilmoittautunut jonotuspaikalle valtionhallinnon kielitutkintoon. Sinuun ollaan yhteydessä mikäli tutkintotilaisuuteen vapautuu peruutuspaikkoja. Ohessa tiedot ilmoittautumisestasi.
        </p>
        <br/>

        <p>
            Tutkinnon kieli: <span th:text="${examLanguageSV}"></span><br/>
            Tutkinnon taso: <span th:text="${examLevelSV}"></span><br/>
            Tutkintopäivä: <span th:text="${examDate}"></span><br/>
            Valitsemasi taidot: <span th:text="${skillsSV}"></span><br/>
            Valitsemasi osakokeet: <span th:text="${partialExamsSV}"></span><br/>
        </p>
        <br/>

        <p>
            Svara inte till detta meddelande, det har skickats automatiskt.
        </p>
        <p>
            Med vänlig hälsning<br/>
            Utbildningsstyrelsen
        </p>
    </body>
</html>
