<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
    <body>
        <p>
            Sinuun on otettu yhteyttä valtionhallinnon kielitutkinnon hyvän ja tyydyttävän taidon tutkinnon suorittamista varten.
            <br />
            Ohessa sinulle lähetetty viesti ja tiedot sen lähettäjästä.
            <br />
            Katso yhteydenottopyynnön kaikki tiedot VKT-ilmoittautumisjärjestelmässä:
            <a th:href="${contactRequestURL}" th:text="${contactRequestURL}"></a>
        </p>
        <p>
            <b>Viesti:</b>
            <br />
            <span th:text="${message}"></span>
        </p>
        <p>
            <b>Lähettäjän tiedot:</b>
            <br />
            Nimi: <span th:text="${requesterName}"></span>
            <br />
            Sähköpostiosoite: <span th:text="${requesterEmail}"></span>
        </p>
        <p>
            Älä vastaa tähän viestiin - viesti on lähetetty automaattisesti.
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Ystävällisin terveisin<br/>
            Opetushallitus
        </p>

        <p>
            Du har kontaktats för avläggande av språkexamen för statsförvaltningen som gäller goda och nöjaktiga kunskaper.
            <br />
            Bifogat finns meddelandet till dig och uppgifter om avsändaren.
            <br />
            Se alla uppgifter om kontaktbegäran i VKT-anmälningssystemet:
            <a th:href="${contactRequestURL}" th:text="${contactRequestURL}"></a>
        </p>
        <p>
            <b>Meddelande:</b>
            <br />
            <span th:text="${message}"></span>
        </p>
        <p>
            <b>Avsändarens uppgifter:</b>
            <br />
            Namn: <span th:text="${requesterName}"></span>
            <br />
            E-postadress: <span th:text="${requesterEmail}"></span>
        </p>
        <p>
            Svara inte på detta meddelande – meddelandet har skickats automatiskt
        </p>
        <p style="border-bottom: 1px solid black; padding-bottom: 15px;">
            Med vänlig hälsning<br/>
            Utbildningsstyrelsen
        </p>
    </body>
</html>
