@use '../../styles/abstracts/colors';

.weblink {
  .icon {
    color: colors.$color-secondary;
    vertical-align: -0.5em;
  }

  .start-icon {
    padding-right: 0.25rem;
  }

  .end-icon {
    padding-left: 0.25rem;
  }
}
