@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/maps';

@mixin phone-divider-border-top() {
  border-radius: 0;
  border-top: 1px solid colors.$color-divider;
  box-shadow: none;
}

@mixin phone-divider-border-bottom() {
  border-bottom: 1px solid colors.$color-divider;
  border-radius: 0;
  box-shadow: none;
}

@mixin app-bar-bottom() {
  bottom: 0;
  position: fixed;
  top: auto;

  &__tool-bar {
    margin: 1.5rem 0;

    button {
      padding: 0.8rem 2rem;
    }
  }
}

@mixin dialog-border($color) {
  border-radius: 0;
  border-top: 1rem $color solid;
}

@mixin header-text {
  color: colors.$color-secondary-dark;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: none;
}

// Media Queries
@mixin phone {
  @media (max-width: map-get(maps.$breakpoints, 'phone')) {
    @content;
  }
}

@mixin not-phone {
  @media not screen and (max-width: map-get(maps.$breakpoints, 'phone')) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get(maps.$breakpoints, 'tablet')) {
    @content;
  }
}

@mixin desktop-and-up {
  @media (min-width: map-get(maps.$breakpoints, 'desktop')) {
    @content;
  }
}

@mixin desktop-xs-to-lg {
  @media (min-width: map-get(maps.$breakpoints, 'desktop-xs')) and (max-width: map-get(maps.$breakpoints, 'desktop-lg')) {
    @content;
  }
}
