$size-header: 4.5rem;
$size-footer: 15rem;

$breakpoint-xsm: 32rem;
$breakpoint-sm: 48rem;
$breakpoint-md: 80rem;
$breakpoint-lg: 96rem;
$breakpoint-xl: 128rem;
$breakpoint-xxl: 160rem;
$breakpoint-xxxl: 180rem;

$flex-grow-values: 1, 2, 3, 4;
