$color-primary: #fff;
$color-primary-light: #f5f5f5;
$color-primary-dark: #ccc;

$color-secondary: #0041dc;
$color-secondary-light: #159ecb;
$color-secondary-dark: #000a48;

$color-text-primary: #000a48;
$color-text-secondary: #fff;

$color-background-root: #f0f3f7;
$color-background-content: #fff;

$color-grey-400: #e0e0e0;
$color-grey-700: #666;
$color-blue-200: #f2f5fd;
$color-green-600: #5fc82b;
$color-red-500: #db2828;

$size-header: 4.5rem;
$size-footer: 15rem;

$breakpoint-xsm: 32rem;
$breakpoint-sm: 48rem;
$breakpoint-md: 80rem;
$breakpoint-lg: 96rem;
$breakpoint-xl: 128rem;
$breakpoint-xxl: 160rem;

$flex-grow-values: 1, 2, 3, 4;
