server:
  servlet:
    session:
      cookie:
        secure: false
app:
  reservation:
    duration: PT50M
  payment:
    paytrail:
      secret: SAIPPUAKAUPPIAS
      account: 375917
  featureFlags:
    freeEnrollmentAllowed: true
  aws:
    localstack:
      access-key-id: test
      secret-access-key: test
    s3-bucket: opintopolku-dev-vkt
springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

