server:
  port: 8080
  compression:
    enabled: true
  servlet:
    context-path: "/vkt"
spring:
  datasource:
    url: ${postgresql.url:jdbc:postgresql://localhost:5432/postgres}
    username: ${postgresql.username:postgres}
    password: ${postgresql.password:postgres}
  jackson:
    default-property-inclusion: non_null
  jpa:
    open-in-view: false
    show-sql: true
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
  data:
    web:
      pageable:
        max-page-size: 10000
  web:
    resources:
      static-locations: classpath:static/
  thymeleaf:
    prefix: classpath:static/
    templateResolverOrder: 1
management:
  endpoints:
    enabled-by-default: false
    web:
      base-path: "/api/actuator"
      exposure:
        include: "health,info"
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
springdoc:
  swagger-ui:
    path: /api/swagger-ui.html
  api-docs:
    path: /api/api-docs
cas:
  key: vkt
  send-renew: false
  login-path: /login/cas
  logout-path: /cas/localLogout
  logout-success-path: /etusivu
  cookie-name: JSESSIONID
  service: ${virkailija.cas.service:http://localhost:${server.port}/vkt}
  url: ${virkailija.cas.url:http://localhost:${server.port}/vkt}
  login: ${virkailija.cas.login:http://localhost:${server.port}/login}
host-virkailija: ${virkailija.host-virkailija:localhost:${server.port}}
