$breakpoints: (
  phone: 480px,
  tablet: 800px,
  desktop: 1024px,
);

$spacing: (
  xxxs: 0.25rem,
  xxs: 0.5rem,
  xs: 0.75rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4rem,
  xxxxl: 6rem,
  xxxxxl: 10rem,
);
