.public-exam-session-filters {
  /*
  & &__app-bar {
    @include app-bar-bottom;
  }
  */
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__fieldset {
    border-style: none;
    padding: 0;

    @include not-phone {
      grid-column: span 2;
    }

    legend {
      padding-bottom: 1em;
    }
  }

  &__hint {
    font-weight: normal;
  }

  &__dropdown-filters-container {
    align-items: baseline;
    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    padding: 0 1rem;

    @include phone {
      gap: 2rem;
    }
  }

  &__dropdown-filters-box {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    padding: 0 1rem;

    @include phone {
      gap: 2rem;
    }
  }

  &__filter {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }

  &__btn-box {
    display: flex;
    gap: 2rem;

    & > button {
      @include phone {
        flex-grow: 1;
        padding: 0.8rem 3rem;
      }
    }
  }

  &__toggle-box {
    display: flex;
    gap: 2rem;
  }
}
