.public-registration {
  & &__grid {
    &__form-container {
      padding: 3rem 3rem 5rem;

      .email-registration-details {
        max-width: 720px;

        &__address-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      .radio-group-label {
        padding-left: 4rem;
      }
    }

    &__stepper {
      margin-left: 13rem;
      margin-right: 13rem;

      &__step-disabled {
        span,
        svg {
          color: $color-grey-700;
        }
      }
    }

    .half-width-on-desktop {
      max-width: calc(50% - 1rem);

      @include phone {
        max-width: 100%;
      }
    }
  }
}

a.text-embed-link {
  font-size: 1.6rem;
  padding: 0 3px 0 0;
  vertical-align: baseline;

  & span {
    margin-left: 2px;
  }
}
