.public-registration {
  & &__grid {
    &__circular-stepper-container {
      @include phone-divider-border-bottom;
      padding: 2rem;
    }

    &__heading {
      @include phone {
        padding-left: 2rem;
      }
    }

    &__form-container {
      @include phone {
        padding: 0 2rem;
      }

      @include not-phone {
        padding: 3rem 3rem 5rem;
      }

      &__registration {
        &-button {
          max-width: 30rem;
          padding: 15px 22px;
        }

        &-text-field {
          width: 30rem;
        }
      }

      .registration-details {
        max-width: 720px;

        &__address-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      .radio-group-label {
        padding-left: 4rem;
      }
    }

    &__stepper {
      margin-left: 13rem;
      margin-right: 13rem;

      &__step-disabled {
        span,
        svg {
          color: $color-grey-700;
        }
      }
    }

    .half-width-on-desktop {
      max-width: calc(50% - 1rem);

      @include phone {
        max-width: 100%;
      }
    }
  }

  &--email-link-order__success {
    svg {
      color: $color-green-600;
    }
  }
}

a.text-embed-link {
  font-size: 1.6rem;
  padding: 0 3px 0 0;
  vertical-align: baseline;

  & span {
    margin-left: 2px;
  }
}
