.clerk-free-registration-page {
  flex: 1;
  background-color: $page-background-color;

  & &__grid-container {
    margin-top: 2rem;
    display: grid;

    &__results {
      padding: 2rem;
    }
  }
}
