.confirm-registration-page {
  flex: 1;

  & &__grid-container {
    display: block;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }
  }

  &__paper-contents {
    border-top: 5px solid $color-secondary;
    @include phone {
      padding: 3rem 2rem;
    }

    @include not-phone {
      padding: 3rem 3rem 5rem;
    }
  }
}
