.public-registration-page {
  flex: 1;

  & &__grid-container {
    display: grid;

    &__item-header {
      @include phone {
        margin-top: 2rem;
        padding: 2rem 2rem 0;
      }
    }

    div &__item-filters {
      @include phone {
        padding-top: 1rem;
      }
    }

    div &__result-box {
      @include phone {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
      }
    }
  }

  & &__filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;

    @include phone {
      @include phone-divider-border-top;
      @include phone-divider-border-bottom;
      gap: 1.5rem;
      padding: 1rem 2rem;
    }

    &__heading-title {
      margin-bottom: 0;
    }

    &__heading-description {
      background-color: $ods-green-6;
      color: $color-text-primary;
      position: relative;

      &::after {
        border-right: 3rem solid transparent;
        border-top: 1.5rem solid $ods-green-6;
        bottom: -1.5rem;
        content: ' ';
        left: 3rem;
        position: absolute;
      }

      & svg {
        color: $color-secondary;
      }
    }
  }

  & &__info-box {
    background-color: $ods-green-6;
    border-radius: 4px;

    @include phone {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
    }

    @include not-phone {
      padding: 3rem 2rem 2rem;
      margin-bottom: 4rem;
    }
  }
}

.registration-loading-modal,
.registration-error-modal {
  .custom-modal {
    min-width: 30vw;
    border-radius: 0;
    border-top: 1rem $color-secondary solid;
  }

  .custom-circular-progress {
    margin-left: -2rem;
  }

  & &__content {
    justify-content: center;
    margin-bottom: 1.8rem;
  }
}
