.loading-progress-indicator {
  &__inline-flex {
    display: inline-flex;
  }

  &__container {
    &__block {
      position: relative;
    }

    &__inline-flex {
      display: inline-flex;
      position: relative;
      width: 100%;
    }

    &__spinner-box {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      & > div {
        margin: 0;
      }
    }
  }
}
