@use 'sass:map';
@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/maps';

.custom-fileupload {
  input {
    display: none;
  }

  &.file-upload-error {
    .file-dropzone {
      border-top: 1px dashed colors.$color-red-500;
      border-right: 1px dashed colors.$color-red-500;
      border-bottom: 1px dashed colors.$color-red-500;
      p {
        color: colors.$color-red-500;
      }
    }
  }

  .file-dropzone {
    align-content: center;
    height: 100%;
    border-top: 1px dashed colors.$color-secondary;
    border-right: 1px dashed colors.$color-secondary;
    border-bottom: 1px dashed colors.$color-secondary;
    padding-left: 1vw;
    padding-right: 10vw;
    cursor: copy;
  }
}
