@use 'sass:map';
@use '../../styles/abstracts/colors';
@use '../../styles/abstracts/maps';

.custom-fileupload input {
  width: fit-content;
  border:1px dashed blue;
  font-size: 120%;
}

.custom-fileupload input::file-selector-button {
  background: blue;
  border: 1px solid white;
  color: white;
  padding: 10px;
}
