@use '../../styles/abstracts/variables';
@use '../../styles/abstracts/maps';

.custom-modal {
  background: variables.$color-primary;
  left: 50%;
  padding: map-get(maps.$spacing, 'lg');
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
